# Testing Files
/tests/

# Environment Files
.env
.env.local

# VSCode Settings
.vscode/

# archive
/archive/

# Virtual Environment
/venv/

# Python Cache
__pycache__/

# Dependencies
node_modules/
venv/

# Build Output
dist/
build/

# Logs
*.log
backend_debug.log

# System
.DS_Store